header {
    background: linear-gradient(to bottom, #003366 0%, #006699 100%);
    border: 3px solid #003366;
    width: 1300px;
    height: 60px;
    padding-bottom: 10px;
}

h2 {
    color: #003366;
    font-size: 22px;
    letter-spacing: 1px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 4px solid #003366;
    height: 250px;
}

th {
    background-color: #003366;
    color: white;
}

th, td { 
    text-align: left; 
    padding: 5px;
}

.wrapper {
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.cvheader {
    color: white;
    text-align: center;
}

.nav {
    padding-top: 30px;
    margin-top: 20px;
    text-align: left;
    float: left;
    width: 250px;
    height: 1650px;
    background-color: rgb(243, 241, 241);
    border: 3px solid #003366;
}

.name {
    font-size: 22px;
    color: #003366;
    margin: 35px;
}

.details {
    font-size: 16px;
    list-style-type: none;
    margin: auto;
    font-style: italic;
}

.langbutton {
  background-color:rgb(243, 241, 241);
  border: 2px solid #003366;
  color: #003366;
  padding: 5px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 2px;
  cursor: pointer;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-github {
    color:black;
    width: 15px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

.cv900 {
    display: none;
}

.cv {
    text-align: left;
    width: 1020px;
    float: left;
    padding: 5px 0px 0px 5px;
    font-size: 18px;
    height: 1800px;
}

.skilltable {
    padding: 5px 0px 0px 0px;
}

.smallheader {
    color: #003366;
    font-size: 18px;
}

@media screen and (max-width: 1350px) and (min-width: 1000px ) {
    header {
        width: 950px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        border: 4px solid #003366;
        height: 180px;
    }

    .wrapper {
        width: 970px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        padding-top: 30px;
        margin-top: 20px;
        text-align: left;
        float: left;
        width: 200px;
        height: 1650px;
        background-color: rgb(243, 241, 241);
        border: 3px solid #003366;
    }

    .cv {
        width: 720px;
    }

    .fa {
        padding: 8px;
        font-size: 20px;
        margin: 2px 1px;
    }

    .langbutton {
        width: 25px;
        margin: 2px 1px;
    }

    .details {
        font-size: 14px;
    }

}

@media screen and (max-width: 995px) and (min-width: 700px ) {
    header {
        width: 680px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        border: 4px solid #003366;
        height: 180px;
    }

    .wrapper {
        width: 690px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        padding-top: 30px;
        margin-top: 20px;
        text-align: left;
        float: left;
        width: 200px;
        height: 600px;
        background-color: rgb(243, 241, 241);
        border: 3px solid #003366;
    }

    .langbutton {
        display: none;
    }

    .cv {
        display: none;
    }

    .fa {
        padding: 8px;
        font-size: 20px;
        margin: 2px 1px;
    }

    .langbutton {
        width: 25px;
        margin: 2px 1px;
    }

    .cv900 {
        text-align: left;
        width: 450px;
        padding: 5px 0px 0px 20px;
        font-size: 16px;
        height: 800px;
        float: none;
        display: inline-block;
    }

}

@media screen and (max-width: 695px) {
    div.cv{
        display: none;
    }

    header {
        display: none;
    }

    .wrapper {
        width: 400px;
    }

    .cv900 {
        display: none;
    }

    .nav {
        padding-top: 30px;
        margin-top: 20px;
        text-align: left;
        float: left;
        width: 250px;
        height: 800px;
        background-color: rgb(243, 241, 241);
        border: 3px solid #003366;
    }

    .langbutton {
        display: none;
    }
}